<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IRpaService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/RpaService/RpaService"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IRpaService"
                contract="IRpaService" name="WSDualHttpBinding_IRpaService">
                <identity>
                    <userPrincipalName value="DESKTOP-OODU3IJ\Maxxx" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>