<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRpaService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/RpaService/RpaService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRpaService"
                contract="IRpaService" name="WSHttpBinding_IRpaService">
                <identity>
                    <userPrincipalName value="DESKTOP-OODU3IJ\Maxxx" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>